{% spaceless %}
<!DOCTYPE html>
<html>
    <head>
        <title>WebPortal</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
        <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
        {% include 'include/icon.twig' %}
        <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/common/build.min.css">
        {% if is_mobile() %}
            <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/mobile.css">
        {% else %}
            <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/pc.css">
        {% endif %}

        {% block cssStyle %}
            
        {% endblock %}
        
    </head>
    <body>
        {% block bodyHTML %}

        {% endblock %}

        {% block jsBottom %}
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
        <script src="{{ base_url() }}/assets/js/module.min.js"></script>
        {% endblock %}
        
        <!--<script src="{{ base_url() }}/assets/components/sw-toolbox-3.3.0/companion.js" data-service-worker="my-service-worker.js"></script>-->
    </body>
</html>
{% endspaceless %}
