{% import "macro/components.twig" as components %}
{% import "macro/css.twig" as css %}
{#% spaceless %#}
    <!DOCTYPE html>
    <html>
        <head>
            <title>WebPortal</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {% include 'include/icon.twig' %}
            {% if is_mobile() %}
                <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/mobile.min.css?{{ appVersion }}">
            {% else %}
                <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/pc.min.css?{{ appVersion }}">
            {% endif %}
            {% block cssStyle %}

            {% endblock %}
        </head>
        <body>
            <div class="body_container">
                {% block bodyHTML %}

                {% endblock %}
            </div>
            {% include 'include/components/system-loading.twig' %}

            <script src="{{ base_url() }}/assets/js/build.min.js?{{ appVersion }}"></script>
            <script src="{{ base_url() }}/assets/js/module.js?{{ appVersion }}"></script>
            {% block jsBottom %}

            {% endblock %}
            <script src="{{ base_url() }}/components/sw-toolbox/companion.js" type="text/javascript" data-service-worker="/service-worker.js?{{ appVersion }}"></script>
        </body>
    </html>
{#% endspaceless %#}
