{% spaceless %}
<!DOCTYPE html>
<html>
    <head>
        <title>WebPortal</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ base_url() }}/components/materialize/dist/css/materialize.min.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% include 'include/icon.twig' %}
        <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/common.css">
        {% if is_mobile() %}
            <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/mobile.css">
        {% else %}
            <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/pc.css">
        {% endif %}

        {% block cssStyle %}
            
        {% endblock %}
        
    </head>
    <body>
        {% block bodyHTML %}

        {% endblock %}

        <script src="{{ base_url() }}/components/jquery/dist/jquery.min.js" type="text/javascript"></script>
        <script src="{{ base_url() }}/components/materialize/dist/js/materialize.min.js" type="text/javascript"></script>
        <script src="{{ base_url() }}/assets/js/module.js"></script>
        {% block jsBottom %}
        
        {% endblock %}
        <!--<script src="{{ base_url() }}/components/sw-toolbox/companion.js" type="text/javascript" data-service-worker="service-worker.js"></script>-->
    </body>
</html>
{% endspaceless %}
