{% import "macro/components.twig" as components %}
{% spaceless %}
    <!DOCTYPE html>
    <html>
        <head>
            <title>WebPortal</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {% include 'include/icon.twig' %}
            {% if is_mobile() %}
                <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/mobile.min.css?{{ appVersion }}">
            {% else %}
                <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/pc.min.css?{{ appVersion }}">
            {% endif %}
            {% block cssStyle %}

            {% endblock %}
        </head>
        <body>
            <div class="body_container">
                {% block bodyHTML %}

                {% endblock %}
            </div>
            {% include 'include/components/system-loading.twig' %}

            <script src="{{ base_url() }}/assets/js/build.min.js?{{ appVersion }}" type="text/javascript"></script>
            <script>
                Vue.config.devtools = true;
                WebFont.load({
                    google: {
                        families: ['Open Sans:300,300i,400,400i,600,600i,700,700i,800,800i', 'Material Icons']
                    }
                });
            </script>
            <script src="{{ base_url() }}/assets/js/module.js?{{ appVersion }}"></script>
            {% block jsBottom %}

            {% endblock %}
            <!--<script src="{{ base_url() }}/components/sw-toolbox/companion.js" type="text/javascript" data-service-worker="service-worker.js?{{ appVersion }}"></script>-->
        </body>
    </html>
{% endspaceless %}
