{% spaceless %}
<!DOCTYPE html>
<html>
    <head>
        <title>WebPortal</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include 'include/icon.twig' %}
        <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/common/build.min.css">
        {% if is_mobile() %}
            <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/mobile.css">
        {% endif %}
        {% if is_tablet() %}
            <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/tablet.css">
        {% endif %}
        {% if is_pc() %}
            <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/pc.css">
        {% endif %}

        {% block cssStyle %}
            
        {% endblock %}
        
    </head>
    <body>
        {% block bodyHTML %}

        {% endblock %}

        {% block jsBottom %}
        <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
        <script src="{{ base_url() }}/assets/js/module.min.js"></script>
        {% endblock %}
        
    </body>
</html>
{% endspaceless %}
