{% extends "template/general_left_right_col.twig" %}
{% import "macro/forms.twig" as forms %}

{% block leftHTML %}
    <h1>{{ langText.title_claims }}</h1>

    {% include 'include/components/claim-breadcrumb.twig' %}

    {% include 'include/components/select-policy.twig' %}

    <div class="row">
        <div class="col s12 m12 l10">
            <a :href="claimFormUrl" class="claim_info_box1">
                <img src="/assets/images/icon_dl.png" class="left claim_info_box1_img">
                <span class="claim_info_box1_title">{{ langText.claim_dl_claim_title }}</span>
                <span class="claim_info_box1_desc">{{ langText.claim_dl_claim_desc }}</span>
            </a>
        </div>
    </div>

    <div class="row" style="margin-bottom:0">
        <div class="col s12 m6 l5">
            {{ components.claim_info_box2(langText.claim_submit_new_claim,'/assets/images/icon_claims_new.png' , ':href="newClaimUrl"' ) }}
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6 l5">
            {{ components.claim_info_box2(langText.claim_saved_claim,'/assets/images/icon_claims_save.png' ,':href="savedClaimUrl"' ) }}
        </div>
        <div class="col s12 m6 l5">
            {{ components.claim_info_box2(langText.claim_submitted_claims,'/assets/images/icon_claims_submit.png', ':href="submitedClaimUrl"' ) }}
        </div>
    </div>

{% endblock %}

{% block rightHTML %}
    <div class="col s12">
        <div data-jshook="pushpin">
            <div class="contact_box2">
                {% set contact = contacts.0 %}
                <div class="contact_box2_title">{{ contact.region_full }}</div>
                <div class="contact_box2_detailbox">
                    <div class="left contact_box2_iconbox"><i class="material-icons icon_color_2 icon_size_18">email</i></div>
                    <div class="contact_box2_infobox"><a href="mailto:" class="contact_box2_a">email@address</a></div>
                    <div class="left contact_box2_iconbox"><i class="material-icons icon_color_2 icon_size_18">phone</i></div>
                    <div class="contact_box2_infobox">{{ components.tel_phone(contacts.0.tel('tel_1')) }}</div>
                </div>
            </div>
            <div><img src="/assets/images/banner_needhelp.jpg" class="responsive-img"></div>
        </div>
    </div>
{% endblock %}

{% block jsBottom %}
    {{ parent() }}
    <script>var data = {{ polices.toJson() | raw }};</script>
    <script src="{{ base_url() }}/assets/js/page/policy.js?{{ appVersion }}"></script>
    <script>
        activeNav('claims');
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
{% endblock %}
