{# empty Twig template #}
{% macro main_block_effect( title , desc , img , link ) %}
    <div class="view hoverable">  
        <div class="view3"><hr>{{ desc }}</div>
        <a href="{{ link }}" class="view1 valign-wrapper"><span class="valign" style="width:100%"><img src="{{ img }}">{{ title }}</span></a>
    </div>
{% endmacro %}

{% macro a_link_style1( title , link , target ) %}
    <a class="btn waves-effect waves-light orange lighten-1" href="{{ link }}" target="{{ target | default('_self') }}">{{ title }}</a>
{% endmacro %}
