{# empty Twig template #}
{% macro main_block_effect( title , desc , img , link ) %}
    <div class="view hoverable">  
        <div class="view3"><hr>{{ desc }}</div>
        <a href="{{ link }}" class="view1 valign-wrapper"><span class="valign" style="width:100%"><img src="{{ img }}">{{ title }}</span></a>
    </div>
{% endmacro %}

{% macro claim_info_box2( title , img , extraAttr = '' , href = false ) %}
    <a class="claim_info_box2" {{ extraAttr | raw }} {% if href %}href="{{ href }}"{% endif %}>
        <img src="{{ img }}">
        <span class="claim_info_box2_title">{{ title }}</span>
    </a>
{% endmacro %}

{% macro responsiveImg( img_pc , img_mobile ) %}
    {% if is_mobile() %}
        <img src="{{ img_mobile }}" class="responsive-img">
    {% else %}
        <img src="{{ img_pc }}" class="responsive-img">
    {% endif %}
{% endmacro %}

{% macro tel_phone( tel , vue = false) %}
    {% if is_mobile() %}
        {% if vue %}
            <a :href="'tel:'+{{ tel }}">${ {{ tel | raw }} }</a>
        {% else %}
            <a href="tel:{{ tel }}">{{ tel }}</a>
        {% endif %}
    {% else %}
        {% if vue %}
            <span v-html="{{ tel }}"></span>
        {% else %}
            {{ tel }}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro a_link_style1( title , link , target ) %}
    <a class="btn waves-effect waves-light orange lighten-1" href="{{ link }}" target="{{ target | default('_self') }}">{{ title }}</a>
{% endmacro %}

{% macro a_link_style2( title , link , target ) %}
    <a class="btn waves-effect waves-light btn-style-1" href="{{ link }}" target="{{ target | default('_self') }}">{{ title }}</a>
{% endmacro %}

{% macro a_link_style3( title , link , target ) %}
    <a class="btn waves-effect waves-light blue lighten-1" href="{{ link }}" target="{{ target | default('_self') }}" style="color:#fff">{{ title }}</a>
{% endmacro %}
