<h1>{{ sysMsg }}</h1>

<a href="{{ path_for('Logout') }}">Logout</a>
<br/>

{% if flash.sysMsg is not empty %}
    <p style="color:red">{{ flash.sysMsg.0  }}</p>
{% endif %}

<div style="float: left">
    <p>Client : {{ User.ppmid }}</p>
    <p>Title : {{ User.title }}</p>
    <p>First: {{ User.first_name }}</p>
    <p>Middle : {{ User.middle_name }}</p>
    <p>Surname : {{ User.last_name }}</p>
    <p>Company : {{ User.date_of_birth }}</p>
    <p>Mobile : {{ User.user_name }}</p>
    <p>Mobile : {{ User.nationality }}</p>
    <p>Phone : {{ User.email }}</p>
    <p>Business_Phone : {{ User.phone_1 }}</p>
    <p>Home_Fax : {{ User.address_line_2 }}</p>
    <p>Business_Fax : {{ User.address_line_3 }}</p>
    
    <p><a href="{{ path_for('UserInfo') }}">Edit address</a></p>
</div>

<table border="1" cellpadding="5">
    <tr>
        <td>policy_id</td>
        <td>insurer</td>
        <td>plan_name</td>
        <td>responsibility_id</td>
        <td>user_policy_id</td>
    </tr>
    
    {% for Policy in Polices %}
    <tr>
        <td>{{ Policy.policy_id }}</td>
        <td>{{ Policy.insurer }}</td>
        <td>{{ Policy.plan_name }}</td>
        <td>{{ Policy.responsibility_id }}</td>
        <td>{{ Policy.user_policy_id }}</td>
    </tr>
    {% endfor %}
</table>

<!--
-{{ base_url() }}/assets/css/css.css
-->
