{% extends "template/general.twig" %}

{% block mainHTML %}

    <main class="general">

        <div class="row">
            <div class="col s12 m8 l7 offset-l1">

                <h1>{{ langText.title_contact }}</h1>

                {% for police in polices %}
                    {% include 'include/components/policy-contact.twig' %}
                {% endfor %}
                <div class="min-text">{{ langText.contact_footnote }}</div>
            </div>


            <div class="col s12 m4 l3">
                <div class="right_side">
                    <div class="min-text">{{ langText.contact_office_title }}</div>
                    {% for contact in contacts %}
                        {{ contact.toJson }}
                        {% include 'include/components/office-map.twig' %}
                    {% endfor %}
                </div>

            </div>

        </div>


    </main>

{% endblock %}

{% block jsBottom %}
    {{ parent() }}
    <script>
        activeNav('contact');
    </script>
{% endblock %}
