{% extends "template/general_left_right_col.twig" %}
{% import "macro/forms.twig" as forms %}

{% block leftHTML %}
    <h1>{{ langText.set_new_password_title }}</h1>
    <!--<div class="general_sub">
        Hi , {{ User.user_name }}
    </div>-->

    <div style="height:1rem"></div>
    
    <form class="form-style-2" data-jshook="setforgotPasswordForm">
        <div class="row hide">
            <div class="col s12 errors_msg" data-jshook="setForgotPasswordMsg">
            </div>
        </div>
        <div class="row" style="margin-bottom:0" >
            <div class="input-field col s12 m8 l6 ">
                {{ forms.MD_input(langText.new_password,'password','forgot_new_password') }}
            </div>
        </div>
        <div class="row" style="margin-bottom:0">
            <div class="input-field col s12 m8 l6 ">
                {{ forms.MD_input(langText.confirm_password,'password','forgot_new_password2') }}
            </div>
        </div>
        <div class="row" style="margin-bottom:0">
            <div class="col s12 m8 l6" style="margin-top:1.2rem">
                {#{ forms.MD_button_2('setforgotpasswordBtn formBtn',langText.submitBtn,'button' , 'send') }#}
                <button data-jshook="setforgotpasswordBtn formBtn" class="{{ css.btn_3 }}" type="button" >{{ langText.submitBtn }}<i class="material-icons right">send</i></button>
            </div>
        </div>
        <input type="hidden" name="token" value="{{ forgotToken }}">
    </form>
{% endblock %}

{% block jsBottom %}
    {{ parent() }}
    <script src="{{ base_url() }}/assets/js/page/forgot-set-password.js?{{ appVersion }}"></script>
    {% include 'include/components/csrf.twig' %}
{% endblock %}
