{% extends "template/general_left_right_col.twig" %}

{% import "macro/forms.twig" as forms %}

{% block leftHTML %}
    <h1 class="general_h1">Set new Password</h1>
    <!--<div class="general_sub">
        Hi , {{ User.user_name }}
    </div>-->

    <form class="form-style-2" data-jshook="setforgotPasswordForm">
        <div class="row hide">
            <div class="col s12 errors_msg" data-jshook="setForgotPasswordMsg">

            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m8 l6 ">
                {{ forms.MD_input(langText.new_password,'password','forgot_new_password') }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m8 l6 ">
                {{ forms.MD_input(langText.confirm_password,'password','forgot_new_password2') }}
            </div>
        </div>
        <div class="row">
            <div class="col s12 m8 l6 center-align" style="margin-top:1.2rem">
                {{ forms.MD_button_2('setforgotpasswordBtn formBtn',langText.submitBtn,'button' , 'send') }}
            </div>
        </div>
        <input type="hidden" name="token" value="{{ forgotToken }}">
    </form>
{% endblock %}

{% block jsBottom %}
    {{ parent() }}
    <script src="{{ base_url() }}/assets/js/page/forgot-set-password.js?{{ appVersion }}"></script>
    {% include 'include/components/csrf.twig' %}
{% endblock %}
