{% extends "template/general_left_right_col.twig" %}
{% import "macro/forms.twig" as forms %}

{% block leftHTML %}

    <h1>{{ langText.title_policy }}</h1>

    <div class="row">
        <div class="col s12 semibold">{{ langText.policy_info_intro }}</div>
    </div>
    
    <div class="row form-style-3">
        <div class="col s12">{{ langText.policy_info_select }}</div>
        {% include 'include/components/select-policy.twig' %}
    </div>

    <div class="row form-style-3">
        <div class="input-field col s12 m5 l5">
            {{ forms.MD_input(langText.insurer, 'text', '' , '' , false , true , 'v-model="p.insurer"')}}
        </div>
        <div class="input-field col s12 m5 l5 offset-m2 offset-l2">
            {{ forms.MD_input(langText.cover, 'text', '' , '' , false , true, 'v-model="p.cover"' )}}
        </div>
        <div class="input-field col s12 m5 l5">
            {{ forms.MD_input(langText.start_date, 'text', '' , '' , false , true, 'v-model="p.start_date"' )}}
        </div>
        <div class="input-field col s12 m5 l5 offset-m2 offset-l2">
            {{ forms.MD_input(langText.renew_date, 'text', '' , '' , false , true, 'v-model="p.end_date"' )}}
        </div>
        <div class="input-field col s12 m5 l5">
            {{ forms.MD_input(langText.currency_paid, 'text', '' , '' , false , true, 'v-model="p.medical_currency_display"' )}}
        </div>
        <div class="input-field col s12 m5 l5 offset-m2 offset-l2">
            {{ forms.MD_input(langText.payment_frequency, 'text', '' , '' , false , true, 'v-model="p.payment_frequency"' )}}
        </div>
        <div class="input-field col s12 m5 l5">
            {{ forms.MD_input(langText.payment_method, 'text', '' , '' , false , true, 'v-model="p.payment_method"' )}}
        </div>
    </div>

    <h2>{{ langText.policy_info_premium }}</h2>
    <policy-user  v-for="(val, key) in p.policyuser" :key="p.policyuser.ppmid" :p="val" inline-template>
        {% include 'include/components/premium-box.twig' %}
    </policy-user>

    <div style="height:2rem"></div>

    <div class="premium_box_advisor" v-if="p.advisor !== null">
        <advisor :p="p" inline-template>
            {% include 'include/components/advisor.twig' %}
        </advisor>
    </div>
    <div class="min-text" v-if="p.advisor !== null">{{ langText.policy_contact_footnote }}</div>


{% endblock %}

{% block rightHTML %}


    <div class="col s12 m10 l10 offset-m2 offset-l2">
        <div data-jshook="pushpin">
            <h2><i class="material-icons icon_color_4 icon_size_24">file_download</i> {{ langText.policy_info_download }}</h2>
            <p>{{ langText.policy_info_download_sub }}</p>
            <filelist  v-for="(val, key) in p.planfile" :f="val" :up="p.pivot.id" :key="p.pivot.id" t="planfile" inline-template>
                <a class="{{ css.btn_2 }}" :href="downloadUrl" download>${ f.display_name }</a>
            </filelist>
            <filelist  v-for="(val, key) in p.policyfile" :f="val" :up="p.pivot.id" :key="p.pivot.id" t="policyfile" inline-template>
                <a class="{{ css.btn_2 }}" :href="downloadUrl" download>${ f.display_name }</a>
            </filelist>
        </div>
    </div>



{% endblock %}

{% block jsBottom %}
    {{ parent() }}
    <script>var data = {{ polices.toJson() | raw }};</script>
    <script src="{{ base_url() }}/assets/js/page/policy.js?{{ appVersion }}"></script>
    <script>
        activeNav('policy');
    </script>
{% endblock %}
