<header class="row">
    <div class="col s10">
        <img src="/assets/images/logo.png">
    </div>
    {% if isLoggin  %}
    <div class="col s2"><a data-activates="slide-out" class="button-collapse mobile_nav_icon"><i class="material-icons">menu</i></a></div>
    {% endif %}
</header>
<div class="header_space"></div>
<!-- side nav -->
{% if isLoggin  %}
<nav id="slide-out" class="side-nav">
    <a href="#">{{ langText.title_profile }}</a>
    <a href="#">{{ langText.title_claims }}</a>
    <a href="#">{{ langText.title_policy }}</a>
    <a href="#">{{ langText.title_contact }}</a>
    <a href="{{ path_for('Logout') }}">{{ langText.logout }}</a>
</nav>
{% endif %}
