<header class="row">
    <div class="col s10">
        <a href="{{ path_for('Main') }}"><img src="/assets/images/logo_m.png" width="213" height="58"></a>
    </div>
    {% if isLoggin  %}
    <div class="col s2"><a data-activates="slide-out" class="button-collapse mobile_nav_icon"><i class="material-icons">menu</i></a></div>
    {% endif %}
</header>
<div class="header_space"></div>
<!-- side nav -->
{% if isLoggin  %}
<nav id="slide-out" class="side-nav">
    <a href="{{ path_for('Member.index') }}" data-jshook="profile">{{ langText.title_profile }}</a>
    <a href="{{ path_for('Claim.Index') }}" data-jshook="claims">{{ langText.title_claims }}</a>
    <a href="{{ path_for('Policy') }}" data-jshook="policy">{{ langText.title_policy }}</a>
    <a href="{{ path_for('ContactUs') }}" data-jshook="contact">{{ langText.title_contact }}</a>
    <a href="{{ path_for('Logout') }}">{{ langText.logout }}</a>
</nav>
{% endif %}
