<header class="row">
    <div class="col s3" >Logo</div>
        <div class="col s8 offset-s1">
            <div class="row" >
                <div class="col s4">Hello, {{ User.fullName() }}</div>
                <div class="col s2"><a href="#">{{ langText.title_profile }}</a></div>
                <div class="col s2"><a href="#">{{ langText.title_claims }}</a></div>
                <div class="col s2"><a href="#">{{ langText.title_policy }}</a></div>
                <div class="col s2"><a href="#">{{ langText.title_contact }}</a></div>
            </div>
        </div>
</header>
