<div data-jshook="formMode" >
    <div class="row">
        <div class="input-field col s12 m5 l5" v-show="edit">
            {{ forms.MD_input(langText.bank_custom_name,'text','nick_name','',langText.required_erorr, false ,'v-model="bank.nick_name"' ) }}
        </div>
        <div v-show="edit" class="input-field col s12 m5 l5 offset-m1 offset-l1 hide-on-small-only" style="height:69px;"></div>

        <div class="input-field col s12 m5 l5">
            {{ forms.MD_input(langText.bank_acc_user,'text','account_user_name','',langText.required_erorr, false ,'v-model="bank.account_user_name"' ) }}
        </div>
        <div class="input-field col s12 m5 l5 offset-m1 offset-l1">
            {{ forms.MD_input(langText.bank_acc_no,'text','account_number','',langText.required_erorr, false,'v-model="bank.account_number"' ) }}
        </div>

        <div class="input-field col s12 m5 l5">
            {{ forms.MD_input(langText.bank_name,'text','bank_name','',langText.required_erorr, false ,'v-model="bank.bank_name"') }}
        </div>
        <div class="input-field col s12 m5 l5 offset-m1 offset-l1">
            {{ forms.MD_input(langText.bank_swift_code,'text','bank_swift_code','',langText.required_erorr, false ,'v-model="bank.bank_swift_code"') }}
        </div>

        <div class="input-field col s12 m5 l5">
            {{ forms.MD_input(langText.bank_branch_code,'text','branch_code','',langText.required_erorr, false,'v-model="bank.branch_code"' ) }}
        </div>
        <div class="col s12 m5 l5 offset-m1 offset-l1 customlabel-1" v-show="edit">
            {{ forms.MD_select_currency(langText.bank_currency,'currency' , 'bank.currency' ) }}
        </div>
        <div class="input-field col s12 m5 l5 offset-m1 offset-l1" v-show="!edit">
            {{ forms.MD_input(langText.bank_currency,'text','currency','',langText.required_erorr, false,'v-model="bank.currency_display"' ) }}
        </div>

        <div class="input-field col s12 m5 l5">
            {{ forms.MD_input(langText.bank_iban,'text','iban','',langText.required_erorr, false ,'v-model="bank.iban"') }}
        </div>
        <div class="input-field col s12 m5 l5 offset-m1 offset-l1">
            {{ forms.MD_input(langText.bank_intermediary_code,'text','intermediary_bank_swift_code','',langText.required_erorr, false ,'v-model="bank.intermediary_bank_swift_code"') }}
        </div>

        <div class="input-field col s12 m11 l11">
            <textarea placeholder=""  id="additional_information" class="materialize-textarea" v-model="bank.additional_information"></textarea>
            <label for="additional_information">{{ langText.bank_add_info }}</label>
        </div>
        <div v-show="edit">
            <div class="col s12" v-if="bigSaveBtn">
                {#{ forms.MD_button_1_1('newBank',langText.saveBankBtn , 'button', 'create_new_folder','saveBank') }#}
                <button data-jshook="newBank formBtn" class="{{ css.btn_1 }}" type="button" v-on:click="saveBank"><i class="material-icons left">create_new_folder</i>{{ langText.saveBankBtn }}</button>
            </div>
            <div class="col s12 right-align" v-else>
                <button data-jshook="delBank formBtn" type="button" class="{{ css.btn_3 }}" v-on:click="delBtn" v-if="canDel">{{ langText.delBtn }}</button>
                {#{ forms.MD_button_2('cancelBank',langText.cancelBtn , 'button' , false ,'cancelBtn') }#}
                <button data-jshook="cancelBank" class="{{ css.btn_3 }}" type="button" v-on:click="cancelBtn">{{ langText.cancelBtn }}</button>
                <button data-jshook="saveBankBtn formBtn" class="{{ css.btn_1 }}" type="button" v-on:click="saveOrNewBank">{{ langText.saveBtn }}</button>
                {#{ forms.MD_button_1('saveBankBtn',langText.saveBtn , 'button','saveOrNewBank') }#}
            </div>
        </div>

        <div class="col s12" v-if="!bigSaveBtn && !edit">
            {#{ forms.MD_button_2_1('newBank2',langText.newBankBtn , 'button', 'create_new_folder' , 'createNewBank') }#}
            <button data-jshook="newBank2 formBtn" class="{{ css.btn_3 }}" type="button" v-on:click="createNewBank">{{ langText.newBankBtn }}<i class="material-icons left">create_new_folder</i></button>
        </div>
    </div>
</div>
