<div id="confirmDelFileModel" class="modal home_model">
    <div class="home_model-content">
        <div class="row">
            <div class="col s12">
                <h4>{{ langText.claim_step3_del_title }}</h4>
            </div>
            <div class="col s12">
                <p class="home_model-content_p valid_msg">{{ langText.claim_step3_del_desc }}</p>
                <button data-jshook="confirmDelFileModelBtnClose" class="{{ css.btn_3 }}" type="button" >{{ langText.cancelBtn }}</button>
                <span>&nbsp;</span>
                <button data-jshook="confirmDelFileModelBtnDel" class="{{ css.btn_1 }}" type="button" >{{ langText.delBtn }}</button>
            </div>
        </div>
    </div>
</div>
