<div id="confirmDelBankModel" class="modal home_model">
    <div class="home_model-content">
        <div class="row">
            <div class="col s12">
                <h4 id="generalModelTitle">{{ langText.member_bank_confirm_del_title }}</h4>
            </div>
            <div class="col s12">
                <p class="home_model-content_p valid_msg" id="generalModelDesc">{{ langText.member_bank_confirm_del_desc }}</p>
                <button data-jshook="confirmDelBankModelBtnClose" class="{{ css.btn_3 }}" type="button" >{{ langText.cancelBtn }}</button>
                <span>&nbsp;</span>
                <button data-jshook="confirmDelBankModelBtnDel" class="{{ css.btn_1 }}" type="button" >{{ langText.delBtn }}</button>
            </div>
        </div>
    </div>
</div>
