<div id="forgotPassword" class="modal home_model">
    <div class="home_model-content">
        <div class="row">
            <div class="col s12">
                <h4>{{ langText.forgotpassword_title }}</h4>
            </div>
            <div class="col s12 hide" data-jshook="forgotPasswordSuccess">
                <p style="text-align:center"><img src="/assets/images/icon_tick.svg"></p>
                <p class="home_model-content_p valid_msg">{{ langText.forgotpassword_success | nl2br }}</p>
                <button data-jshook="forgotpasswordBtnClose" class="{{ css.btn_1 }}" type="button" >{{ langText.closeBtn }}</button>
            </div>
            <form class="form-style-2" data-jshook="forgotPasswordForm">
                <div class="col s12">
                    <p class="home_model-content_p">{{ langText.forgotpassword_desc }}</p>
                </div>
                <div class="col s12 m12 l8 offset-l2 hide errors_msg" data-jshook="ForgotPasswordMsg">

                </div>
                <div class="input-field col s12 m12 l8 offset-l2">
                    {{ forms.MD_input(langText.username,'text','forgotpassword_username') }}
                </div>
                <div class="col s12 m12 l8 offset-l2 center-align">
                    <button data-jshook="forgotpasswordBtn formBtn" class="{{ css.btn_3 }}" type="button" >{{ langText.submitBtn }}<i class="material-icons right">send</i></button>
                </div>
                
                <div class="col s12 m12 l8 offset-l2">
                    <p class="home_model-content_p">{{ langText.forgotpassword_help | nl2br }} </p>        
                    </div>
                
            </form>
        </div>
    </div>
</div>
