{% extends "template/general_left_right_col.twig" %}
{% import "macro/forms.twig" as forms %}

{% block leftHTML %}
    <h1>{{ langText.member_bank_title }}</h1>

    <div class="pending_box" style="padding:0.5rem;margin-bottom:1rem">
        <div class="pending_box_icon" style="padding:0 0.5rem"><img src="/assets/images/icon_creditcard2.svg"></div>
        <div class="padding_box_desc">{{ langText.member_bank_desc }}</div>            
    </div>

    <div class="form-style-3">

        <div class="row" v-show="!bigSaveBtn && !edit">
            
                <div class="input-field col s8">
                    <select data-jshook="bankSelectBox">
                        <option value="" disabled selected>Choose your option</option>
                        <option v-for="(val, key) in banks" :value="key" >${ val.nick_name }</option>
                    </select>
                </div>
                <div class="input-field col s4">
                    {#{ forms.MD_button_3('editBtn', langText.editBtn, 'button' , 'editBank')}#}
                    <button id="editBtn" data-jshook="editBtn" class="{{ css.btn_2 }}" type="button" v-on:click="editBank">{{ langText.editBtn }}</button>
                </div>
            
        </div>
        {% include 'include/components/bank-form.twig' %}
    </div>
{% endblock %}

{% block rightHTML %}
    <div class="col s12">
        <div data-jshook="pushpin">
            <div class="tipsBox">
                <div class="tipsbox_title"><i class="material-icons icon_color_5 icon_size_22">stars</i> {{ langText.tips_title }}</div>
                <div class="tipsbox_info">
                    <div class="left tipsbox_iconbox"><i class="material-icons icon_color_6 icon_size_16">stars</i></div>
                    <div class="tipsbox_textbox min-text">tip1 To create a radio </div>
                    <div class="left tipsbox_iconbox"><i class="material-icons icon_color_6 icon_size_16">stars</i></div>
                    <div class="tipsbox_textbox min-text">tip1 To create a radio button with a gap, </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block afterFooterHTML %}
    {% include 'include/components/save-claim.twig' %}
{% endblock %}

{% block jsBottom %}
    {{ parent() }}
    <script>
        var banks ={{ banks.toJson | raw }} ;
    </script>
    <script src="{{ base_url() }}/assets/js/page/bank.js?{{ appVersion }}"></script>
    <script>
        activeNav('profile');
        $('select').material_select();
        {% if not is_mobile() %}
            pinTop.init();
        {% endif %}

        $('.select-dropdown').val(app.bank.nick_name);
    </script>
    {% include 'include/components/csrf.twig' %}
{% endblock %}
