{% extends "template/base.html.twig" %}

{% import "macro/forms.twig" as forms %}


{% block cssStyle %}
    
{% endblock %}

{% block bodyHTML %}
    <h2>Form</h2>

    {% verbatim %}
        <pre>{% import "macro/forms.twig" as forms %}</pre>
    {% endverbatim %}

    <h4>input</h4>
    <h6>style1</h6>
    <div style="background-color:#8FD7F0">
    <div class="row form-style-1">
        <div class="input-field col s3" >
            {{ forms.MD_input(langText.username,'text','user_name') }}
        </div>
    </div>
    </div>
        <code>add class to form .form-style-1<br/>
        forms.MD_input('label','type','id','value')</code>
        <h6>style2</h6>
    <div class="row form-style-2">
        <div class="input-field col s3" >
            {{ forms.MD_input(langText.username,'text','user_name') }}
        </div>
        <div class="input-field col s3" >
            {{ forms.MD_input('click field to show invlide','email','email','not a email',langText.email_erorr) }}
        </div>
    </div>
        <code>add class to form .form-style-1<br/>
        forms.MD_input('label','type','id','value')</code>

    {% verbatim %}
        <pre>{{ forms.MD_input('username', 'text', 'user_name')}}</pre>
    {% endverbatim %}

    <h4>Button</h4>
    <code>forms.MD_button_1('jshooks-name','BtnText','BtnType')</code>
    {{ forms.MD_button_1('loginBtn',langText.loginBtn,'button') }}
    {% verbatim %}
        <pre>{{ forms.MD_button_1('loginBtn',langText.loginBtn,'button') }}</pre>
    {% endverbatim %}
    
    <code>forms.MD_button_2('jshooks-name','BtnText','BtnType','iconText')</code>
    {{ forms.MD_button_2('forgotpasswordBtn',langText.forgotpasswordBtn,'button' , 'send') }}
    {% verbatim %}
        <pre>{{ forms.MD_button_2('forgotpasswordBtn',langText.forgotpasswordBtn,'button' , 'send') }}</pre>
    {% endverbatim %}
    
    
    <h2>Other</h2>
    
    <h4>a link</h4>
    <code>components.a_link_style1('titleText','URL', 'target')</code>
    {{ components.a_link_style1(langText.home_verify_btn,'#v') }}
    {% verbatim %}
        <pre>{{ components.a_link_style1(langText.home_verify_btn,'#v') }}</pre>
    {% endverbatim %}

    <code>class="alink_1"</code>
    <a href="#" class="alink_1">Forgot Username?</a>
    
    <h4>general class ( .general)</h4>
    <div class="general">
    
        <h1>header 1</h1>
        <h2>header 2</h2>
        <h3>header 3</h3>
    
        icon_color_1 <i class="material-icons icon_color_1">phone</i>
        icon_color_2 <i class="material-icons icon_color_2">phone</i>
        
        
        <p class="min-text">.min-text</p>
        
        
    </div>
    
        
        <h2>component</h2>
        
        
        <h4>police contact</h4>
        {% verbatim %}
        {% include 'include/components/policy-contact.twig' %}
        {% endverbatim %}
        <br/><br/><br/>
        <div class="general">
        {% set police = {"policy_id":1,"insurer":"Best Doctors","plan_name":"Ultracare","deductible":"85","cover":"WorldWide","options":"Travel","medical_currency":"USD","payment_frequency":"Annual","payment_method":"Cheque","start_date":"2015-01-30","end_date":"2020-02-17","responsibility_id":19,"status":"Active","Policy_Number":null,"renew_date":"2020-02-18","is_end":false,"pivot":{"ppmid":"9677","policy_id":"1","id":2,"premium_paid":"0.00"},"advisor":{"responsibility_id":19,"name":"Ken Chung","email":"ken@kwiksure.com","office_phone":"3588 2914","contact_details_id":1}}  %}
        {% include 'include/components/policy-contact.twig' %}
        </div>
        
        <div style="height:50px;"></div>
        
        <h4>office map</h4>
        <div class="general">
            {% verbatim %}
        {% include 'include/components/office-map.twig' %}
        {% endverbatim %}
        <br/><br/><br/>
            
        <div style="width:40%">
        {% include 'include/components/office-map.twig' %}
        </div>
        </div>
        
    <div style="height:50px;"></div>
    
{% endblock %}
